body {
  font-family: 'BioRhyme Expanded', serif;
   background:    #ffffff;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

#gallary {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
 
}

#upload-btn {
  background: #00adef;
  color:white;
  border: 1px solid #ac1100;
  border-radius: 5px;
  font-family: "Raleway",sans-serif;
  transition: all 0.15s linear;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
}

#upload-btn:hover {
  background: rgb(237,0,140);
}



.ui{
  display: grid;
  grid-template-columns: auto; 
  
}

.card-header {
  display:grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 30px;
}

.card {
   display: grid;
   grid-gap: 10px;
   grid-template-rows: 30px; 200px, 30px;
   font-size: 10px;
   box-shadow: 1px 1px 2px #404040;
   max-width:400px;
   border: 1px solid rgba(0,0,0,0.15);
   padding: 5px 5px 0;
   background-color: #fff;
   border-radius: 3px;
   box-shadow: 0 0.125em 0.275em 0 rgba(0,0,0,0.075);
}



.image-name{
  padding:10px;
  color: rgb(237,0,140);
  font-family: arial;
  margin: 10px;
}

.delete {
  text-align: right;
  margin-top:8px;
}

.material-icons {
  color: grey;
  font-size: 20px;
}

.material-icons:hover {
  cursor:pointer;
}


#save-btn{
/* background: #EDF2F4;
 padding: 10px;
 text-align: center;
 margin: 10px;
 border-radius: 2px;
 box-shadow: 1px 1px 2px #404040;
 width:200px;
 justify-self: center;*/
}

.result{
  color:white;
  justify-self: center;
  font-size: 40px;
  margin: 0 auto;
  letter-spacing: 10px;
}

img{
  box-shadow: 1px 1px 2px #404040;
  justify-self: center;
  margin-bottom: 15px;
}

input[type="file"] {
  /*  display: none;*/
}

.custom-file-upload {
    color: #2B2D42;
    padding: 10px;
    justify-self: center;
    height: 35px;
    margin-top: 20px;
    box-shadow: 1px 1px 2px #404040;
    padding-top: 26px;
    width: 250px;
    cursor: pointer;
    margin-bottom: 20px;
    background: #EDF2F4;
    text-align: center;
}

#save-btn:hover {
  cursor: pointer
}

#upload-name {
  display:grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-flow: column;
  width: 250px;
  padding: 10px;
  background: #00adef;
  color: white;
  border: 1px solid #ac1100;
  border-radius: 5px;
  font-family: "Raleway",sans-serif;
  text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
}

#name {
  border: none;
  height: 30px;
  background: none;
  border-bottom: 1px solid #2B2D42;
  color: #2B2D42;
}

#name:-webkit-autofill {
    background-color: red !important;
}

#name:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #EDF2F4 inset;
    -webkit-text-fill-color: #2B2D42 !important;
}

#name:focus {
    background: none;
    outline-width: 0;
}

textarea {
  margin: 5px;
  resize: vertical;
  border: 1px solid #d3d3d3;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
}
